In [1]:
# imports
import pandas as pd

In [37]:
test = pd.read_csv(r'C:\Users\Cait\Desktop\Bootcamp Stuff\Group1-Project1\Resources\Fitbit_apple_watch_data\aw_fb_data.csv')
test['height'].nunique()

# create dataframes from csv files
#How do Apple watches vs. Fitbits compare when taking heart rate data?
# Need dataframe from Fitbit_apple_watch_data.csv

28

In [140]:
#How does the activity level correlate to average heart rate?
# Need dataframe from heartrate_seconds_merged.csv and dailyIntensities_merged
heartrate = pd.read_csv(r'Resources\Fitbit_data\heartrate_seconds_merged.csv')
heartrate = heartrate.drop(columns=['Time'])
intensity = pd.read_csv(r'Resources\Fitbit_data\dailyIntensities_merged.csv')
intensity = intensity.drop(columns=['SedentaryActiveDistance','LightActiveDistance','ModeratelyActiveDistance','VeryActiveDistance'])

In [106]:
# How does the amount of sleep affect weight?
# Need dataframe from sleepDay_merged and weightLogInfo_merged

sleepDay = pd.read_csv(r'Resources\Fitbit_data\sleepDay_merged.csv')
sleepDay = sleepDay.drop(columns=['SleepDay','TotalSleepRecords','TotalTimeInBed'])
weightLog = pd.read_csv(r'Resources\Fitbit_data\weightLogInfo_merged.csv')
weightLog = weightLog.drop(columns=['Fat','WeightKg','Date','WeightPounds','IsManualReport','LogId'])
avg_weight = weightLog.groupby('Id').mean()

In [129]:
t = pd.merge(sleepDay,weightLog,how='inner',on='Id')
unique_ids = t['Id'].unique()
t

              Id  TotalMinutesAsleep        BMI
0     1503960366                 327  22.650000
1     1503960366                 327  22.650000
2     1503960366                 384  22.650000
3     1503960366                 384  22.650000
4     1503960366                 412  22.650000
...          ...                 ...        ...
1083  6962181067                 516  23.889999
1084  6962181067                 516  24.350000
1085  6962181067                 516  24.240000
1086  6962181067                 516  24.170000
1087  6962181067                 516  24.170000

[1088 rows x 3 columns]

In [128]:
t = t.reset_index().set_index('Id')
t.drop(columns=['index'])

            TotalMinutesAsleep        BMI
Id
1503960366                 327  22.650000
1503960366                 327  22.650000
1503960366                 384  22.650000
1503960366                 384  22.650000
1503960366                 412  22.650000
...                        ...        ...
6962181067                 516  23.889999
6962181067                 516  24.350000
6962181067                 516  24.240000
6962181067                 516  24.170000
6962181067                 516  24.170000

[1088 rows x 2 columns]

In [126]:
# Need dataframe that only contains each ids sleep time and average bmi
sleep_weight_df = pd.DataFrame({
    'id': unique_ids
    #'bmi': avg_weight
})

sleep_weight_df

           id
0  1503960366
1  1927972279
2  4319703577
3  4558609924
4  5577150313
5  6962181067

In [148]:
#How does the activity level affect number of calories burned?
# Need dataframe from dailyCalories and dailyActivity_merged 
#calories = pd.read_csv(r'Resources\Fitbit_data\dailyCalories_merged.csv')
#calories = calories.drop(columns=['ActivityDay'])
activity = pd.read_csv(r'Resources\Fitbit_data\dailyActivity_merged.csv')
activity = activity.drop(columns=['Id','ActivityDate','TotalSteps','TotalDistance','TrackerDistance','LoggedActivitiesDistance',
                                  'VeryActiveDistance','ModeratelyActiveDistance','LightActiveDistance','SedentaryActiveDistance'])
activity

,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,25,13,328,728,1985
1,21,19,217,776,1797
2,30,11,181,1218,1776
3,29,34,209,726,1745
4,36,10,221,773,1863
...,...,...,...,...,...
935,17,4,245,1174,2847
936,73,19,217,1131,3710
937,18,11,224,1187,2832
938,88,12,213,1127,3832
939,23,1,137,770,1849