In [12]:
import pandas as pd
import csv
import pathlib

In [13]:
#Reading the csv files
#grouping records and removing duplicates

original=pd.read_csv (r'C:\Desktop\Analysis Projects\Group1-Project1\Resources\Fitbit_apple_watch_data\aw_fb_data_fixed2.csv')

original.head()

,Item,Identifier,X1,age,gender,height,weight,steps,hear_rate,calories,...,entropy_setps,resting_heart,corr_heart_steps,norm_heart,intensity_karvonen,sd_norm_heart,steps_times_distance,device,activity,origingender
0,1789,ID_1,1793,18,male,180.3,90.0,11.0,82.000000,0.344533,...,5.987703,79.0,1.000000,3.000000,0.024390,23.174478,0.105270,apple watch,Lying,1
1,1790,ID_1,1794,18,male,180.3,90.0,108.0,86.535900,3.287625,...,5.987703,79.0,1.000000,7.535900,0.061267,21.234162,6.301476,apple watch,Lying,1
2,1791,ID_1,1795,18,male,180.3,90.0,205.0,84.062067,20.663000,...,5.987703,79.0,1.000000,5.062067,0.041155,17.660075,21.960420,apple watch,Lying,1
3,1792,ID_1,1796,18,male,180.3,90.0,302.0,81.588233,19.335867,...,5.987703,79.0,1.000000,2.588233,0.021043,11.102437,47.082102,apple watch,Lying,1
4,1793,ID_1,1797,18,male,180.3,90.0,399.0,79.114400,18.008733,...,5.987703,79.0,-0.413641,0.114400,0.000930,2.154097,81.666522,apple watch,Lying,1

In [14]:
#reducing columns of data; Removed the following columns: 'Unamed,'entropy_heart', 'entropy_setps','resting_heart', 'corr_heart_steps', 'intensity_karvonen',
#'sd_norm_heart', 'steps_times_distance'.
#Rename/correct column 'hear_rate' to 'heart_rate'
original.columns
reduce_df = original[['X1','Identifier', 'age', 'gender', 'height', 'weight', 'steps',
       'hear_rate', 'calories', 'distance',  'norm_heart',  'device', 'activity']]
#reduce_df.columns
reduce_df = reduce_df.rename(columns={"hear_rate":"heart_rate"})
reduce_df.head()

,X1,Identifier,age,gender,height,weight,steps,heart_rate,calories,distance,norm_heart,device,activity
0,1793,ID_1,18,male,180.3,90.0,11.0,82.000000,0.344533,0.009570,3.000000,apple watch,Lying
1,1794,ID_1,18,male,180.3,90.0,108.0,86.535900,3.287625,0.058347,7.535900,apple watch,Lying
2,1795,ID_1,18,male,180.3,90.0,205.0,84.062067,20.663000,0.107124,5.062067,apple watch,Lying
3,1796,ID_1,18,male,180.3,90.0,302.0,81.588233,19.335867,0.155901,2.588233,apple watch,Lying
4,1797,ID_1,18,male,180.3,90.0,399.0,79.114400,18.008733,0.204678,0.114400,apple watch,Lying

In [15]:
#Showing basic statistics on the dataframe
reduce_df.describe()

,X1,age,height,weight,steps,heart_rate,calories,distance,norm_heart
count,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000
mean,1771.144317,29.158525,169.709052,69.614464,109.562268,86.142331,19.471823,13.832555,20.272393
std,1097.988748,8.908978,10.324698,13.451878,222.797908,28.648385,27.309765,45.941437,28.388116
min,1.000000,18.000000,143.000000,43.000000,1.000000,2.222222,0.056269,0.000440,-76.000000
25%,789.750000,23.000000,160.000000,60.000000,5.159534,75.598079,0.735875,0.019135,1.148883
50%,1720.000000,28.000000,168.000000,68.000000,10.092029,77.267680,4.000000,0.181719,9.820254
75%,2759.250000,33.000000,180.000000,77.300000,105.847222,95.669118,20.500000,15.697188,27.077336
max,3670.000000,56.000000,191.000000,115.000000,1714.000000,194.333333,97.500000,335.000000,156.319444

In [16]:
#count of unique identifiers
participants = reduce_df['Identifier'].value_counts()

ID_count = len(reduce_df['Identifier'].unique())
print(participants)
print(ID_count)

ID_25    178
ID_23    170
ID_40    162
ID_5     158
ID_4     156
ID_18    156
ID_15    156
ID_11    156
ID_22    154
ID_32    154
ID_24    154
ID_48    152
ID_37    152
ID_7     152
ID_14    148
ID_38    148
ID_16    146
ID_29    146
ID_27    146
ID_35    144
ID_39    144
ID_42    144
ID_36    144
ID_49    144
ID_19    144
ID_28    142
ID_6     140
ID_3     138
ID_2     137
ID_31    135
ID_26    135
ID_9     133
ID_21    109
ID_41    105
ID_13    105
ID_47     94
ID_10     94
ID_46     88
ID_8      87
ID_44     84
ID_12     83
ID_20     83
ID_17     82
ID_1      82
ID_43     81
ID_45     81
ID_33     81
ID_30     80
ID_34     77
Name: Identifier, dtype: int64
49

In [17]:
#Order the  Identifier column
orderid = reduce_df.sort_values('Identifier')
orderid

,X1,Identifier,age,gender,height,weight,steps,heart_rate,calories,distance,norm_heart,device,activity
0,1793,ID_1,18,male,180.3,90.0,11.000000,82.000000,0.344533,0.009570,3.000000,apple watch,Lying
59,1852,ID_1,18,male,180.3,90.0,285.571429,96.857143,0.380000,0.064495,17.857143,apple watch,Sitting
58,1851,ID_1,18,male,180.3,90.0,351.857143,103.333333,0.508667,0.058682,24.333333,apple watch,Sitting
57,1850,ID_1,18,male,180.3,90.0,418.142857,104.454545,0.640500,0.052870,25.454545,apple watch,Sitting
56,1849,ID_1,18,male,180.3,90.0,484.428571,119.750000,0.579500,0.047058,40.750000,apple watch,Sitting
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2730,ID_9,22,female,168.0,62.0,663.750000,56.466667,12.105875,0.435883,0.266667,apple watch,Running 3 METs
1084,2729,ID_9,22,female,168.0,62.0,850.000000,56.400000,13.412750,0.557260,0.200000,apple watch,Running 3 METs
1083,2728,ID_9,22,female,168.0,62.0,849.200000,56.333333,14.719625,0.566728,0.133333,apple watch,Running 3 METs
1098,2743,ID_9,22,female,168.0,62.0,125.000000,85.000000,0.756000,0.055760,28.800000,apple watch,Running 5 METs
1181,2770,ID_9,22,female,168.0,62.0,1.000000,61.000000,18.000000,1.000000,50.888889,fitbit,Running 7 METs

In [29]:
#HELP -----  Need procedure to find exact duplicate records to remove