In [29]:
import pandas as pd
import csv
import pathlib
import scipy.stats as stats
from matplotlib import pyplot as plt
import numpy as np

In [8]:
#Reading the csv files
#grouping records and removing duplicates

original=pd.read_csv (r'Resources\Fitbit_apple_watch_data\aw_fb_data_fixed2.csv')

original.head()

,Item,Identifier,X1,age,gender,height,weight,steps,hear_rate,calories,...,entropy_setps,resting_heart,corr_heart_steps,norm_heart,intensity_karvonen,sd_norm_heart,steps_times_distance,device,activity,origingender
0,1789,ID_1,1793,18,male,180.3,90.0,11.0,82.000000,0.344533,...,5.987703,79.0,1.000000,3.000000,0.024390,23.174478,0.105270,apple watch,Lying,1
1,1790,ID_1,1794,18,male,180.3,90.0,108.0,86.535900,3.287625,...,5.987703,79.0,1.000000,7.535900,0.061267,21.234162,6.301476,apple watch,Lying,1
2,1791,ID_1,1795,18,male,180.3,90.0,205.0,84.062067,20.663000,...,5.987703,79.0,1.000000,5.062067,0.041155,17.660075,21.960420,apple watch,Lying,1
3,1792,ID_1,1796,18,male,180.3,90.0,302.0,81.588233,19.335867,...,5.987703,79.0,1.000000,2.588233,0.021043,11.102437,47.082102,apple watch,Lying,1
4,1793,ID_1,1797,18,male,180.3,90.0,399.0,79.114400,18.008733,...,5.987703,79.0,-0.413641,0.114400,0.000930,2.154097,81.666522,apple watch,Lying,1

In [9]:
#List of the original file columns
original.columns

Index(['Item', 'Identifier', 'X1', 'age', 'gender', 'height', 'weight',
       'steps', 'hear_rate', 'calories', 'distance', 'entropy_heart',
       'entropy_setps', 'resting_heart', 'corr_heart_steps', 'norm_heart',
       'intensity_karvonen', 'sd_norm_heart', 'steps_times_distance', 'device',
       'activity', 'origingender'],
      dtype='object')

In [10]:
#Count of the original records
original.count()

Item                    6264
Identifier              6264
X1                      6264
age                     6264
gender                  6264
height                  6264
weight                  6264
steps                   6264
hear_rate               6264
calories                6264
distance                6264
entropy_heart           6264
entropy_setps           6264
resting_heart           6264
corr_heart_steps        6264
norm_heart              6264
intensity_karvonen      6264
sd_norm_heart           6264
steps_times_distance    6264
device                  6264
activity                6264
origingender            6264
dtype: int64

In [11]:
#Reducing columns of data; Removed the following columns: 'Item,'entropy_heart', 'entropy_setps','resting_heart', 'corr_heart_steps', 'intensity_karvonen',
#'sd_norm_heart', 'steps_times_distance'.

reduce_df = original[['X1','Identifier', 'age', 'gender', 'height', 'weight',
       'steps', 'hear_rate', 'calories', 'distance', 'resting_heart', 'norm_heart',  'device', 'activity']]
reduce_df.columns

Index(['X1', 'Identifier', 'age', 'gender', 'height', 'weight', 'steps',
       'hear_rate', 'calories', 'distance', 'resting_heart', 'norm_heart',
       'device', 'activity'],
      dtype='object')

In [12]:
#Rename/correct column 'hear_rate' to 'heart_rate'
reduce_df = reduce_df.rename(columns={"hear_rate":"heart_rate"})
reduce_df.head()

,X1,Identifier,age,gender,height,weight,steps,heart_rate,calories,distance,resting_heart,norm_heart,device,activity
0,1793,ID_1,18,male,180.3,90.0,11.0,82.000000,0.344533,0.009570,79.0,3.000000,apple watch,Lying
1,1794,ID_1,18,male,180.3,90.0,108.0,86.535900,3.287625,0.058347,79.0,7.535900,apple watch,Lying
2,1795,ID_1,18,male,180.3,90.0,205.0,84.062067,20.663000,0.107124,79.0,5.062067,apple watch,Lying
3,1796,ID_1,18,male,180.3,90.0,302.0,81.588233,19.335867,0.155901,79.0,2.588233,apple watch,Lying
4,1797,ID_1,18,male,180.3,90.0,399.0,79.114400,18.008733,0.204678,79.0,0.114400,apple watch,Lying

In [13]:
#Showing basic statistics on the dataframe
reduce_df.describe()

,X1,age,height,weight,steps,heart_rate,calories,distance,resting_heart,norm_heart
count,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000,6264.000000
mean,1771.144317,29.158525,169.709052,69.614464,109.562268,86.142331,19.471823,13.832555,65.869938,20.272393
std,1097.988748,8.908978,10.324698,13.451878,222.797908,28.648385,27.309765,45.941437,21.203017,28.388116
min,1.000000,18.000000,143.000000,43.000000,1.000000,2.222222,0.056269,0.000440,3.000000,-76.000000
25%,789.750000,23.000000,160.000000,60.000000,5.159534,75.598079,0.735875,0.019135,58.134333,1.148883
50%,1720.000000,28.000000,168.000000,68.000000,10.092029,77.267680,4.000000,0.181719,75.000000,9.820254
75%,2759.250000,33.000000,180.000000,77.300000,105.847222,95.669118,20.500000,15.697188,76.138701,27.077336
max,3670.000000,56.000000,191.000000,115.000000,1714.000000,194.333333,97.500000,335.000000,155.000000,156.319444

In [14]:
#Count of unique identifiers
participants = reduce_df['Identifier'].value_counts()

ID_count = len(reduce_df['Identifier'].unique())
print(participants)

print(ID_count)

Identifier
ID_25    178
ID_23    170
ID_40    162
ID_5     158
ID_4     156
ID_18    156
ID_15    156
ID_11    156
ID_22    154
ID_32    154
ID_24    154
ID_48    152
ID_37    152
ID_7     152
ID_14    148
ID_38    148
ID_16    146
ID_29    146
ID_27    146
ID_35    144
ID_39    144
ID_42    144
ID_36    144
ID_49    144
ID_19    144
ID_28    142
ID_6     140
ID_3     138
ID_2     137
ID_31    135
ID_26    135
ID_9     133
ID_21    109
ID_41    105
ID_13    105
ID_47     94
ID_10     94
ID_46     88
ID_8      87
ID_44     84
ID_12     83
ID_20     83
ID_17     82
ID_1      82
ID_43     81
ID_45     81
ID_33     81
ID_30     80
ID_34     77
Name: count, dtype: int64
49

In [15]:
#Order the  Identifier column
orderid = reduce_df.sort_values('Identifier')
orderid

,X1,Identifier,age,gender,height,weight,steps,heart_rate,calories,distance,resting_heart,norm_heart,device,activity
0,1793,ID_1,18,male,180.3,90.0,11.000000,82.000000,0.344533,0.009570,79.000000,3.000000,apple watch,Lying
59,1852,ID_1,18,male,180.3,90.0,285.571429,96.857143,0.380000,0.064495,79.000000,17.857143,apple watch,Sitting
58,1851,ID_1,18,male,180.3,90.0,351.857143,103.333333,0.508667,0.058682,79.000000,24.333333,apple watch,Sitting
57,1850,ID_1,18,male,180.3,90.0,418.142857,104.454545,0.640500,0.052870,79.000000,25.454545,apple watch,Sitting
56,1849,ID_1,18,male,180.3,90.0,484.428571,119.750000,0.579500,0.047058,79.000000,40.750000,apple watch,Sitting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2730,ID_9,22,female,168.0,62.0,663.750000,56.466667,12.105875,0.435883,56.200000,0.266667,apple watch,Running 3 METs
1084,2729,ID_9,22,female,168.0,62.0,850.000000,56.400000,13.412750,0.557260,56.200000,0.200000,apple watch,Running 3 METs
1083,2728,ID_9,22,female,168.0,62.0,849.200000,56.333333,14.719625,0.566728,56.200000,0.133333,apple watch,Running 3 METs
1098,2743,ID_9,22,female,168.0,62.0,125.000000,85.000000,0.756000,0.055760,56.200000,28.800000,apple watch,Running 5 METs
1181,2770,ID_9,22,female,168.0,62.0,1.000000,61.000000,18.000000,1.000000,10.111111,50.888889,fitbit,Running 7 METs

In [16]:
#Count of number of records
reduce_df.count()

X1               6264
Identifier       6264
age              6264
gender           6264
height           6264
weight           6264
steps            6264
heart_rate       6264
calories         6264
distance         6264
resting_heart    6264
norm_heart       6264
device           6264
activity         6264
dtype: int64

In [17]:
# Creating a new DataFrame without duplicates
new_reduce_df = reduce_df.drop_duplicates(subset=['Identifier', 'steps', 'heart_rate', 'calories', 'distance', 'norm_heart', 'resting_heart','device', 'activity'])

# Display the resulting dataframe
print(new_reduce_df)

        X1 Identifier  age gender  height  weight       steps  heart_rate  \
0     1793       ID_1   18   male   180.3    90.0   11.000000   82.000000
1     1794       ID_1   18   male   180.3    90.0  108.000000   86.535900
2     1795       ID_1   18   male   180.3    90.0  205.000000   84.062067
3     1796       ID_1   18   male   180.3    90.0  302.000000   81.588233
4     1797       ID_1   18   male   180.3    90.0  399.000000   79.114400
...    ...        ...  ...    ...     ...     ...         ...         ...
6259  2545      ID_49   56   male   164.0    62.0    1.678280   33.242772
6260  2546      ID_49   56   male   164.0    62.0    1.542624   32.574217
6261  2547      ID_49   56   male   164.0    62.0    1.406968   31.905663
6262  2548      ID_49   56   male   164.0    62.0    1.271312   31.237109
6263  2549      ID_49   56   male   164.0    62.0    1.135656   30.568554

       calories  distance  resting_heart  norm_heart       device  \
0      0.344533  0.009570      79.000000    3.000000  apple watch
1      3.287625  0.058347      79.000000    7.535900  apple watch
2     20.663000  0.107124      79.000000    5.062067  apple watch
3     19.335867  0.155901      79.000000    2.588233  apple watch
4     18.008733  0.204678      79.000000    0.114400  apple watch
...         ...       ...            ...         ...          ...
6259  88.000000  2.034099      32.574217    0.668554       fitbit
6260  86.000000  1.827279      32.574217    0.000000       fitbit
6261  81.000000  1.620460      32.574217   -0.668554       fitbit
6262  77.000000  1.413640      32.574217   -1.337109       fitbit
6263  68.000000  1.206820      32.574217   -2.005663       fitbit

            activity
0              Lying
1              Lying
2              Lying
3              Lying
4              Lying
...              ...
6259  Running 7 METs
6260  Running 7 METs
6261  Running 7 METs
6262  Running 7 METs
6263  Running 7 METs

[6225 rows x 14 columns]

CREATING DATA FRAMES FOR EACH ACTIVITY AND CALCULATING HEART RATE MEANS BY DEVICE

In [18]:
# Create a new DataFrame with rows where the activity is "Running"
run7_df = new_reduce_df[new_reduce_df['activity'] == 'Running 7 METs']

# Display the new DataFrame
print('Activity: Running 7 METs')
print(run7_df)

Activity: Running 7 METs
        X1 Identifier  age gender  height  weight       steps  heart_rate  \
60    1853       ID_1   18   male   180.3    90.0  219.285714  114.085714
61    1854       ID_1   18   male   180.3    90.0  153.000000  131.314286
62    1855       ID_1   18   male   180.3    90.0  150.000000  148.542857
63    1856       ID_1   18   male   180.3    90.0  145.000000  165.771429
64    1857       ID_1   18   male   180.3    90.0  688.000000  183.000000
...    ...        ...  ...    ...     ...     ...         ...         ...
6259  2545      ID_49   56   male   164.0    62.0    1.678280   33.242772
6260  2546      ID_49   56   male   164.0    62.0    1.542624   32.574217
6261  2547      ID_49   56   male   164.0    62.0    1.406968   31.905663
6262  2548      ID_49   56   male   164.0    62.0    1.271312   31.237109
6263  2549      ID_49   56   male   164.0    62.0    1.135656   30.568554

       calories  distance  resting_heart  norm_heart       device  \
60     0.636000  0.070307      79.000000   35.085714  apple watch
61     0.749000  0.076120      79.000000   52.314286  apple watch
62     0.736500  0.078025      79.000000   69.542857  apple watch
63     0.735000  0.075780      79.000000   86.771429  apple watch
64     0.571333  0.446137      79.000000  104.000000  apple watch
...         ...       ...            ...         ...          ...
6259  88.000000  2.034099      32.574217    0.668554       fitbit
6260  86.000000  1.827279      32.574217    0.000000       fitbit
6261  81.000000  1.620460      32.574217   -0.668554       fitbit
6262  77.000000  1.413640      32.574217   -1.337109       fitbit
6263  68.000000  1.206820      32.574217   -2.005663       fitbit

            activity
60    Running 7 METs
61    Running 7 METs
62    Running 7 METs
63    Running 7 METs
64    Running 7 METs
...              ...
6259  Running 7 METs
6260  Running 7 METs
6261  Running 7 METs
6262  Running 7 METs
6263  Running 7 METs

[1093 rows x 14 columns]

Notes:  calculate means for each activity by device
grouped_device_df = new_reduce_df.groupby('device')

# Calculate the mean of 'norm_heart' and 'resting_heart' for each device
means_device_df = grouped_device_df.agg({
    'norm_heart': 'mean',
    'resting_heart': 'mean'
}).reset_index()

# Display the resulting DataFrame
print(means_device_df)

In [19]:
#Calculating heart rate means by activity = Running 7 METs
grouped_device_df = run7_df.groupby('device')

# Calculate the mean of 'norm_heart' and 'resting_heart' for each device
means_run7_df = grouped_device_df.agg({
    'norm_heart': 'mean',
    'resting_heart': 'mean'
}).reset_index()

# Display the resulting DataFrame
print('Means for Running 7 METs')
print(means_run7_df)

Means for Running 7 METs
        device  norm_heart  resting_heart
0  apple watch   45.141907      68.165660
1       fitbit   19.070995      59.255551

In [20]:
# Create a new DataFrame with rows where the activity is "Running"
run5_df = new_reduce_df[new_reduce_df['activity'] == 'Running 5 METs']

# Display the new DataFrame
print ('Activity: Running 5 METs')
print(run5_df)

Activity: Running 5 METs
        X1 Identifier  age gender  height  weight       steps  heart_rate  \
43    1836       ID_1   18   male   180.3    90.0  588.714286   82.625000
44    1837       ID_1   18   male   180.3    90.0  674.000000   89.250000
45    1838       ID_1   18   male   180.3    90.0  106.000000   95.875000
46    1839       ID_1   18   male   180.3    90.0  124.000000  102.500000
47    1840       ID_1   18   male   180.3    90.0  128.000000  109.125000
...    ...        ...  ...    ...     ...     ...         ...         ...
6242  2528      ID_49   56   male   164.0    62.0    3.984433   44.608195
6243  2529      ID_49   56   male   164.0    62.0    3.848777   43.939641
6244  2530      ID_49   56   male   164.0    62.0    3.713121   43.271087
6245  2531      ID_49   56   male   164.0    62.0    3.577465   42.602532
6246  2532      ID_49   56   male   164.0    62.0    3.441809   41.933978

      calories  distance  resting_heart  norm_heart       device  \
43      4.4916  0.482080      79.000000    3.625000  apple watch
44      3.2464  0.554275      79.000000   10.250000  apple watch
45      2.0012  0.089540      79.000000   16.875000  apple watch
46      0.7560  0.107020      79.000000   23.500000  apple watch
47      0.7560  0.110860      79.000000   30.125000  apple watch
...        ...       ...            ...         ...          ...
6242   88.0000  5.550037      32.574217   12.033978       fitbit
6243   84.0000  5.343217      32.574217   11.365424       fitbit
6244   84.0000  5.136397      32.574217   10.696869       fitbit
6245   84.0000  4.929577      32.574217   10.028315       fitbit
6246   83.0000  4.722758      32.574217    9.359761       fitbit

            activity
43    Running 5 METs
44    Running 5 METs
45    Running 5 METs
46    Running 5 METs
47    Running 5 METs
...              ...
6242  Running 5 METs
6243  Running 5 METs
6244  Running 5 METs
6245  Running 5 METs
6246  Running 5 METs

[1000 rows x 14 columns]

In [21]:
#Calculating heart rate means by activity = Running 5 METs
grouped_device_df = run5_df.groupby('device')

# Calculate the mean of 'norm_heart' and 'resting_heart' for each device
means_run5_df = grouped_device_df.agg({
    'norm_heart': 'mean',
    'resting_heart': 'mean'
}).reset_index()

# Display the resulting DataFrame
print('Means for Running 5 METs')
print(means_run5_df)

Means for Running 5 METs
        device  norm_heart  resting_heart
0  apple watch   29.763683      68.306276
1       fitbit   16.582629      63.575026

In [22]:
# Create a new DataFrame with rows where the activity is "Running"
run3_df = new_reduce_df[new_reduce_df['activity'] == 'Running 3 METs']

# Display the new DataFrame
print('Activity for Running 3 METs')
print(run3_df)

Activity for Running 3 METs
        X1 Identifier  age gender  height  weight       steps  heart_rate  \
26    1819       ID_1   18   male   180.3    90.0   86.000000   87.000000
27    1820       ID_1   18   male   180.3    90.0   97.000000   90.333333
28    1821       ID_1   18   male   180.3    90.0   98.000000   93.666667
29    1822       ID_1   18   male   180.3    90.0  101.000000   97.000000
30    1823       ID_1   18   male   180.3    90.0  439.000000   95.454545
...    ...        ...  ...    ...     ...     ...         ...         ...
6225  2511      ID_49   56   male   164.0    62.0    6.290586   55.973619
6226  2512      ID_49   56   male   164.0    62.0    6.154930   55.305065
6227  2513      ID_49   56   male   164.0    62.0    6.019274   54.636510
6228  2514      ID_49   56   male   164.0    62.0    5.883617   53.967956
6229  2515      ID_49   56   male   164.0    62.0    5.747961   53.299402

      calories  distance  resting_heart  norm_heart       device  \
26       0.676  0.028860      79.000000    8.000000  apple watch
27       0.756  0.035415      79.000000   11.333333  apple watch
28       0.756  0.038360      79.000000   14.666667  apple watch
29       0.756  0.039900      79.000000   18.000000  apple watch
30       0.747  0.170193      79.000000   16.454545  apple watch
...        ...       ...            ...         ...          ...
6225    69.000  9.065975      32.574217   23.399402       fitbit
6226    71.000  8.859155      32.574217   22.730847       fitbit
6227    71.000  8.652335      32.574217   22.062293       fitbit
6228    73.000  8.445515      32.574217   21.393739       fitbit
6229    68.000  8.238695      32.574217   20.725184       fitbit

            activity
26    Running 3 METs
27    Running 3 METs
28    Running 3 METs
29    Running 3 METs
30    Running 3 METs
...              ...
6225  Running 3 METs
6226  Running 3 METs
6227  Running 3 METs
6228  Running 3 METs
6229  Running 3 METs

[950 rows x 14 columns]

In [23]:
#Calculating heart rate means by activity = Running 3 METs
grouped_device_df = run3_df.groupby('device')

# Calculate the mean of 'norm_heart' and 'resting_heart' for each device
means_run3_df = grouped_device_df.agg({
    'norm_heart': 'mean',
    'resting_heart': 'mean'
}).reset_index()

# Display the resulting DataFrame
print('Means for Running 3 METs')
print(means_run3_df)

Means for Running 3 METs
        device  norm_heart  resting_heart
0  apple watch   18.282697      68.547402
1       fitbit   16.399828      66.146684

In [24]:
# Create a new DataFrame with rows where the activity is 'Walking"
walk_df = new_reduce_df[new_reduce_df['activity'] == 'Self Pace walk']

# Display the new DataFrame
print(walk_df)

        X1 Identifier  age gender  height  weight       steps  heart_rate  \
10    1803       ID_1   18   male   180.3    90.0  981.000000   83.000000
11    1804       ID_1   18   male   180.3    90.0   91.000000   85.125000
12    1805       ID_1   18   male   180.3    90.0   81.000000   87.250000
13    1806       ID_1   18   male   180.3    90.0   89.000000   89.375000
14    1807       ID_1   18   male   180.3    90.0   92.000000   91.500000
...    ...        ...  ...    ...     ...     ...         ...         ...
6208  2494      ID_49   56   male   164.0    62.0    8.596738   67.339043
6209  2495      ID_49   56   male   164.0    62.0    8.461082   66.670488
6210  2496      ID_49   56   male   164.0    62.0    8.325426   66.001934
6211  2497      ID_49   56   male   164.0    62.0    8.189770   65.333380
6212  2498      ID_49   56   male   164.0    62.0    8.054114   64.664825

       calories   distance  resting_heart  norm_heart       device  \
10    10.045933   0.497340      79.000000    4.000000  apple watch
11     8.718800   0.061850      79.000000    6.125000  apple watch
12     7.391667   0.056220      79.000000    8.250000  apple watch
13     6.064533   0.065160      79.000000   10.375000  apple watch
14     4.737400   0.063360      79.000000   12.500000  apple watch
...         ...        ...            ...         ...          ...
6208  79.000000  12.581913      32.574217   34.764825       fitbit
6209  69.000000  12.375093      32.574217   34.096271       fitbit
6210  73.000000  12.168273      32.574217   33.427717       fitbit
6211  75.000000  11.961453      32.574217   32.759162       fitbit
6212  73.000000  11.754633      32.574217   32.090608       fitbit

            activity
10    Self Pace walk
11    Self Pace walk
12    Self Pace walk
13    Self Pace walk
14    Self Pace walk
...              ...
6208  Self Pace walk
6209  Self Pace walk
6210  Self Pace walk
6211  Self Pace walk
6212  Self Pace walk

[889 rows x 14 columns]

In [25]:
#Calculating heart rate means by activity = Self Pace walk
grouped_device_df = walk_df.groupby('device')

# Calculate the mean of 'norm_heart' and 'resting_heart' for each device
means_walk_df = grouped_device_df.agg({
    'norm_heart': 'mean',
    'resting_heart': 'mean'
}).reset_index()

# Display the resulting DataFrame
print('Means for Self Pace walk')
print(means_run3_df)

Means for Self Pace walk
        device  norm_heart  resting_heart
0  apple watch   18.282697      68.547402
1       fitbit   16.399828      66.146684

In [35]:
walk_df

,X1,Identifier,age,gender,height,weight,steps,heart_rate,calories,distance,resting_heart,norm_heart,device,activity
10,1803,ID_1,18,male,180.3,90.0,981.000000,83.000000,10.045933,0.497340,79.000000,4.000000,apple watch,Self Pace walk
11,1804,ID_1,18,male,180.3,90.0,91.000000,85.125000,8.718800,0.061850,79.000000,6.125000,apple watch,Self Pace walk
12,1805,ID_1,18,male,180.3,90.0,81.000000,87.250000,7.391667,0.056220,79.000000,8.250000,apple watch,Self Pace walk
13,1806,ID_1,18,male,180.3,90.0,89.000000,89.375000,6.064533,0.065160,79.000000,10.375000,apple watch,Self Pace walk
14,1807,ID_1,18,male,180.3,90.0,92.000000,91.500000,4.737400,0.063360,79.000000,12.500000,apple watch,Self Pace walk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6208,2494,ID_49,56,male,164.0,62.0,8.596738,67.339043,79.000000,12.581913,32.574217,34.764825,fitbit,Self Pace walk
6209,2495,ID_49,56,male,164.0,62.0,8.461082,66.670488,69.000000,12.375093,32.574217,34.096271,fitbit,Self Pace walk
6210,2496,ID_49,56,male,164.0,62.0,8.325426,66.001934,73.000000,12.168273,32.574217,33.427717,fitbit,Self Pace walk
6211,2497,ID_49,56,male,164.0,62.0,8.189770,65.333380,75.000000,11.961453,32.574217,32.759162,fitbit,Self Pace walk
6212,2498,ID_49,56,male,164.0,62.0,8.054114,64.664825,73.000000,11.754633,32.574217,32.090608,fitbit,Self Pace walk

In [34]:
for key, item in grouped_device_df:
    print(grouped_device_df.get_group(key), "\n\n")

        X1 Identifier  age gender  height  weight       steps  heart_rate  \
10    1803       ID_1   18   male   180.3    90.0  981.000000   83.000000
11    1804       ID_1   18   male   180.3    90.0   91.000000   85.125000
12    1805       ID_1   18   male   180.3    90.0   81.000000   87.250000
13    1806       ID_1   18   male   180.3    90.0   89.000000   89.375000
14    1807       ID_1   18   male   180.3    90.0   92.000000   91.500000
...    ...        ...  ...    ...     ...     ...         ...         ...
6136  2494      ID_49   56   male   164.0    62.0    5.125000   81.750000
6137  2495      ID_49   56   male   164.0    62.0    5.217391   79.357143
6138  2496      ID_49   56   male   164.0    62.0    5.217391   76.964286
6139  2497      ID_49   56   male   164.0    62.0    4.869565   74.571429
6140  2498      ID_49   56   male   164.0    62.0    5.173913   72.178571

       calories  distance  resting_heart  norm_heart       device  \
10    10.045933  0.497340           79.0    4.000000  apple watch
11     8.718800  0.061850           79.0    6.125000  apple watch
12     7.391667  0.056220           79.0    8.250000  apple watch
13     6.064533  0.065160           79.0   10.375000  apple watch
14     4.737400  0.063360           79.0   12.500000  apple watch
...         ...       ...            ...         ...          ...
6136   0.258333  0.003891           65.0   16.750000  apple watch
6137   0.252000  0.003965           65.0   14.357143  apple watch
6138   0.252000  0.003998           65.0   11.964286  apple watch
6139   0.252000  0.003701           65.0    9.571429  apple watch
6140   0.252000  0.003932           65.0    7.178571  apple watch

            activity
10    Self Pace walk
11    Self Pace walk
12    Self Pace walk
13    Self Pace walk
14    Self Pace walk
...              ...
6136  Self Pace walk
6137  Self Pace walk
6138  Self Pace walk
6139  Self Pace walk
6140  Self Pace walk

[529 rows x 14 columns]


        X1 Identifier  age gender  height  weight     steps  heart_rate  \
168   1365       ID_2   18   male   183.0    70.3  8.779352   70.835174
169   1366       ID_2   18   male   183.0    70.3  8.594130   70.181955
170   1367       ID_2   18   male   183.0    70.3  8.408907   69.528737
171   1368       ID_2   18   male   183.0    70.3  8.223684   68.875518
172   1369       ID_2   18   male   183.0    70.3  8.038462   68.222300
...    ...        ...  ...    ...     ...     ...       ...         ...
6208  2494      ID_49   56   male   164.0    62.0  8.596738   67.339043
6209  2495      ID_49   56   male   164.0    62.0  8.461082   66.670488
6210  2496      ID_49   56   male   164.0    62.0  8.325426   66.001934
6211  2497      ID_49   56   male   164.0    62.0  8.189770   65.333380
6212  2498      ID_49   56   male   164.0    62.0  8.054114   64.664825

      calories   distance  resting_heart  norm_heart  device        activity
168       35.0  12.860324      45.359655   25.475518  fitbit  Self Pace walk
169       58.5  12.577935      45.359655   24.822300  fitbit  Self Pace walk
170       58.5  12.295547      45.359655   24.169082  fitbit  Self Pace walk
171       58.5  12.013158      45.359655   23.515863  fitbit  Self Pace walk
172       56.5  11.730769      45.359655   22.862645  fitbit  Self Pace walk
...        ...        ...            ...         ...     ...             ...
6208      79.0  12.581913      32.574217   34.764825  fitbit  Self Pace walk
6209      69.0  12.375093      32.574217   34.096271  fitbit  Self Pace walk
6210      73.0  12.168273      32.574217   33.427717  fitbit  Self Pace walk
6211      75.0  11.961453      32.574217   32.759162  fitbit  Self Pace walk
6212      73.0  11.754633      32.574217   32.090608  fitbit  Self Pace walk

[360 rows x 14 columns]

In [37]:
df_aw = walk_df[walk_df['device']=='apple watch']
df_fb = walk_df[walk_df['device']=='fitbit']

In [38]:
stats.ttest_ind(df_aw['resting_heart'], df_fb['resting_heart'], equal_var=False)

TtestResult(statistic=3.847763559787084, pvalue=0.00013644418747026964, df=449.6396260871828)